{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
{% if app.user == null %}
{% set isUserActive = false %}
{% else %}
{% set isUserActive = true %}
{% endif %}
{% if app.user %}
    <input id="token" type="hidden" data-token="{{ csrf_token(app.user.id) }}">
{% else %}
    <input id="token" type="hidden" data-token="">
{% endif %}
<input id="page" type="hidden" data-page="searchpage" data-search="{{search}}">

<div class="row mb-5">
<div class="col-md-5">
{% for subreddit in subreddits %}
    <div class="card">
        <div class="card-body">
            <a href="{{path('subreddit', {'title': subreddit.title})}}">r/{{subreddit.title}}</span>
            {% if isUserActive and app.user.isInSubreddit(subreddit) %}
            <a class="btn btn-danger button-join" href="{{path('subreddit.join', {'id':subreddit.id})}}">Unjoin</a>
        {% else %}
            <a class="btn btn-primary button-join" href="{{path('subreddit.join', {'id':subreddit.id})}}">Join</a>
        {% endif %}
        </div>
    </div>
{% endfor %}
</div>
</div>


{% include "post/showPosts.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
     {{ encore_entry_script_tags('like') }}
     {{ encore_entry_script_tags('ajaxGetPosts') }}
{% endblock %}
