{% extends 'base.html.twig' %}

{% block title %}{{post.title}}{% endblock %}

{% block body %}
<div class="bg-white col-md-12">
    <div class="card post mb-0">
        <div class="card-body">
            <h6 class="text-secondary"><a class="userBtn" href='{{path('subreddit', {'title': post.subreddit.title})}}'>r/{{post.subreddit.title}}</a> Posted by <a class='userBtn'
                    href='{{path('user.show', {'username' : post.user.username})}}'>u/{{post.user.username}}</a>
                {{post.createdAt|date("d/m/Y H:i", "Europe/Paris")}}</h6>
            <h1>{{post.title}}</h1>
            <div class="card-text">{{post.content|nl2br}}</div>
            <div class="comment-bottom-line"><a {% if app.user == null %} href='{{path('login')}}'{% else %}data-toggle="collapse" data-target="#{{post.id}}"{% endif %}>reply</a></div>
            
            <div>
            {% if app.user and post.isLikedByUser(app.user) %}
                <a href="{{path('post.like', {'id': post.id})}}" class="js-like-link userBtn is-liked"><i class="fas fa-arrow-up"></i></a>
                <a href="{{path('post.dislike', {'id': post.id})}}" class="js-dislike-link userBtn"><i class="fas fa-arrow-down"></i></a>
            {% elseif app.user and post.isDislikedByUser(app.user) %}
                <a href="{{path('post.like', {'id': post.id})}}" class="js-like-link userBtn"><i class="fas fa-arrow-up"></i></a>
                <a href="{{path('post.dislike', {'id': post.id})}}" class="js-dislike-link userBtn is-liked"><i class="fas fa-arrow-down"></i></a>
            {% else %}
                <a href="{{path('post.like', {'id': post.id})}}" class="js-like-link userBtn"><i class="fas fa-arrow-up"></i></a>
                <a href="{{path('post.dislike', {'id': post.id})}}" class="js-dislike-link userBtn"><i class="fas fa-arrow-down"></i></a>
            {% endif %}
            <span class="count-likes">{{post.getCountLikes}}</span>
            </div>

            <form class="form-group collapse" id="{{post.id}}" method="post" action="{{path('comment.add')}}">
                <textarea class="form-control" name="comment"></textarea>
                <input type="hidden" name="postId" value="{{post.id}}">
                <button class="btn btn-primary form-control" value="submit">Reply</button>
            </form>
        </div>
    </div>

    {% for comment in post.comments %}
    {% if comment.commentParent == null %}
        <div class="card comment mb-0 mt-0">
        <div class="card-body">
            <h6 class="text-secondary">Posted by <a class='userBtn' href='{{path('user.show', {'username' : comment.user.username})}}'>u/{{comment.user.username}}</a>
                {{comment.createdAt|date("d/m/Y H:i", "Europe/Paris")}}</h6>
            <div class="card-text">{{comment.content|nl2br}}</div>
            <div class="comment-bottom-line"><a {% if app.user == null %} href='{{path('login')}}'{% else %}data-toggle="collapse" data-target="#{{comment.id}}"{% endif %}>reply</a></div>
            
            <form class="form-group collapse" id="{{comment.id}}" method="post" action="{{path('comment.add')}}">
                <textarea class="form-control" name="comment"></textarea>
                <input type="hidden" name="commentId" value="{{comment.id}}">
                <button class="btn btn-primary form-control" value="submit">Reply</button>
            </form>
        </div>
    </div>

        {% if comment.comments != null %}
        {% set subcomments = comment.comments %}
        <div class="container">
            {% include 'post/subcomment.html.twig' %}
        </div>
        {% endif %}
    {% endif %}
    {% endfor %}
</div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {{ encore_entry_script_tags('like') }}
{% endblock %}