{% extends 'base.html.twig' %}

{% block title %}{{post.title}}{% endblock %}

{% block body %}
<div class="bg-white col-md-12">
    <div class="card post mb-0">
        <div class="card-body">
            <h6 class="text-secondary"><a class="userBtn" href='{{path('subreddit', {'title': post.subreddit.title})}}'>r/{{post.subreddit.title}}</a> Posted by <a class='userBtn'
                    href='{{path('user.show', {'username' : post.user.username})}}'>u/{{post.user.username}}</a>
                {{post.createdAt|date("d/m/Y H:m", "Europe/Paris")}}</h6>
            <h1>{{post.title}}</h1>
            <div class="card-text">{{post.content}}</div>
        </div>
    </div>

    {% for comment in post.comments %}
    {% if comment.commentParent == null %}
        <div class="card comment mb-0 mt-0">
        <div class="card-body">
            <h6 class="text-secondary">Posted by <a class='userBtn' href='{{path('user.show', {'username' : comment.user.username})}}'>u/{{comment.user.username}}</a>
                {{comment.createdAt|date("d/m/Y H:m", "Europe/Paris")}}</h6>
            <div class="card-text">{{comment.content}}</div>
        </div>
    </div>

        {% if comment.comments != null %}
        {% set subcomments = comment.comments %}
        <div class="container">
            {% include 'post/subcomment.html.twig' %}
        </div>
        {% endif %}
    {% endif %}
    {% endfor %}
</div>



{% endblock %}