{% for post in posts %}
<div class="card col-md-10 mb-0">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
            <div>
            {% if app.user and post.isLikedByUser(app.user) %}
                <a href="{{path('post.like', {'id': post.id})}}" class="js-like-link userBtn is-liked"><i class="fas fa-arrow-up"></i></a>
                <a href="{{path('post.dislike', {'id': post.id})}}" class="js-dislike-link userBtn"><i class="fas fa-arrow-down"></i></a>
            {% elseif app.user and post.isDislikedByUser(app.user) %}
                <a href="{{path('post.like', {'id': post.id})}}" class="js-like-link userBtn"><i class="fas fa-arrow-up"></i></a>
                <a href="{{path('post.dislike', {'id': post.id})}}" class="js-dislike-link userBtn is-liked"><i class="fas fa-arrow-down"></i></a>
            {% else %}
                <a href="{{path('post.like', {'id': post.id})}}" class="js-like-link userBtn"><i class="fas fa-arrow-up"></i></a>
                <a href="{{path('post.dislike', {'id': post.id})}}" class="js-dislike-link userBtn"><i class="fas fa-arrow-down"></i></a>
            {% endif %}
            <span class="count-likes">{{post.getCountLikes}}</span>
            </div>
                <img src="https://via.placeholder.com/80x60" alt="" class="img-fluid miniature">
                <p class="title"><a
                        href='{{path('post.show', {'slug': post.slug,'id': post.id, 'subreddit': post.subreddit.title})}}'
                        class='btn stretched-link post-title'>{{post.title}}</a></p>
                <h6 class="text-secondary information-line"><a class="userBtn subreddit-title"
                        href='{{path('subreddit', {'title': post.subreddit.title})}}'>r/{{post.subreddit.title}}</a>
                    Posted by <a class='userBtn username'
                        href='{{path('user.show', {'username' : post.user.username})}}'>u/{{post.user.username}}</a>
                    <span class='date'>{{post.createdAt|date("d/m/Y H:i", "Europe/Paris")}}</span>
                </h6>
                <span class="bottom-line"><a class="btn-collapse" data-toggle="collapse" data-target="#{{post.id}}"><i class="fas fa-expand-alt expand"></i></a> <a><i class="fas fa-comment"></i> {{post.comments|length}} comments</a></span>
            </div>
        </div>
        <div class="collapse card-text post-content" id="{{post.id}}">{{post.content|nl2br}}</div>
    </div>
</div>
{% endfor %}