{% for subcomment in subcomments %}
        <div class="card comment mb-0 mt-0 ml-5">
        <div class="card-body p-0">
            <h6 class="text-secondary">Posted by <a class='userBtn' href='{{path('user.show', {'username' : subcomment.user.username})}}'>u/{{subcomment.user.username}}</a>
                {{subcomment.createdAt|date("d/m/Y H:i", "Europe/Paris")}}</h6>
            <div class="card-text">{{subcomment.content|nl2br}}</div>
            <div class="comment-bottom-line"><a {% if app.user == null %} href='{{path('login')}}'{% else %}data-toggle="collapse" data-target="#{{subcomment.id}}"{% endif %}>reply</a></div>
            
            <form class="form-group collapse" id="{{subcomment.id}}" method="post" action="{{path('comment.add')}}">
                <textarea class="form-control" name="comment"></textarea>
                <input type="hidden" name="commentId" value="{{subcomment.id}}">
                <button class="btn btn-primary form-control" value="submit">Reply</button>
            </form>
        </div>
    </div>
   
    {% if subcomment.comments != null %}
    {% set subcomments = subcomment.comments %}
    <div class="container">
        {% include 'post/subcomment.html.twig' %}
    </div>
    {% endif %}

{% endfor %}