{% extends 'base.html.twig' %}

{% block title %}r/{{subreddit.title}}{% endblock %}
{% block body %}
{% if app.user == null %}
{% set isUserActive = false %}
{% else %}
{% set isUserActive = true %}
{% endif %}

<h1 class="data-subreddit">{{subreddit.title}}</h1>
<div class="row">
    <div class="col-md-10">
    <textarea data-active-user="{{isUserActive}}" data-subreddit-title="{{subreddit.title}}" style="width:100%;" class="create-post" placeholder="Create a post"></textarea>
    </div>
</div>
{% include 'post/showPosts.html.twig'%}
{% block javascripts %}
     {{ parent() }}
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
     {{ encore_entry_script_tags('like') }}
     {{ encore_entry_script_tags('createPost') }}
 {% endblock %}
{% endblock %}
