{% extends 'base.html.twig' %}

{% block title %}r/{{subreddit.title}}{% endblock %}
{% block body %}
{% if app.user %}
    <input id="token" type="hidden" data-token="{{ csrf_token(app.user.id) }}">
{% else %}
    <input id="token" type="hidden" data-token="">
{% endif %}

<input id="page" type="hidden" data-page="{{subreddit.title}}">


{% if app.user == null %}
{% set isUserActive = false %}
{% else %}
{% set isUserActive = true %}
{% endif %}


<div class="row">
    <div class="col-md-10">
<div class="d-flex justify-content-between align-items-baseline">
        <h1 class="data-subreddit">{{subreddit.title}}</h1>
        {% if app.user.isInSubreddit(subreddit) %}
            <a class="btn btn-danger" href="{{path('subreddit.join', {'id':subreddit.id})}}">Unjoin</a>
        {% else %}
            <a class="btn btn-primary" href="{{path('subreddit.join', {'id':subreddit.id})}}">Join</a>
        {% endif %}
</div>
    <textarea data-active-user="{{isUserActive}}" data-subreddit-title="{{subreddit.title}}" style="width:100%;" class="create-post" placeholder="Create a post"></textarea>
    </div>
</div>
{% include 'post/showPosts.html.twig'%}
{% block javascripts %}
     {{ parent() }}
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
     {{ encore_entry_script_tags('like') }}
     {{ encore_entry_script_tags('ajaxGetPosts') }}
     {{ encore_entry_script_tags('createPost') }}
 {% endblock %}
{% endblock %}
